DB_URL=jdbc:postgresql://localhost:5432/url_shortener
DB_USERNAME=username
DB_PASSWORD=UserPassword123
JWT_SECRET=very-long-and-secure-key-32-plus-chars-and-secure-key-32-plus-chars
JWT_EXPIRATION=3600000
LINK_EXPIRATION_DAYS=30
